#
ir-keys.pem
#
secret.tfvars
# could be sensitive data in these files
terraform.tfstate 
terraform.tfstate.backup
#lock files where showing up from this directory so hiding them from git
.terraform/
# pycharm file
.idea